<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      
       
       <style>
            
            * {
             font-family: roboto_normal !important;
             font-size: 16px !important; 
             
            }
            
            .respuesta > label {
             text-align: justify !important;   
            }
            
          
            .modal-header{
                text-align: center;
            }
            
            .modal-body , .modal-header  , .modal-content{
                color: white;
                background-image: url('../../web/bundles/celmediasite/images/confirm/fondo.png'); 
            }
            
            .confirm{
                background-image: url('../../web/bundles/celmediasite/images/confirm/btn_yes.png'); 
                width: 49%;
            }
            
            .cancel{
                background-image: url('../../web/bundles/celmediasite/images/confirm/btn_no.png'); 
                width: 49%;
            }
            
        </style>
        
        <title>Cerveceria nacional</title>
        {% block stylesheets %}
            {% stylesheets
                '@CelmediaSiteBundle/Resources/public/css/bootstrap.css'
                '@CelmediaSiteBundle/Resources/public/fonts/fuentes-adicionales.css'
                '@CelmediaSiteBundle/Resources/public/css/jquery.bxslider.css'
                '@CelmediaSiteBundle/Resources/public/css/lionbars.css'
                '@CelmediaSiteBundle/Resources/public/css/estilo.css'
                '@CelmediaSiteBundle/Resources/public/css/style.h.css'
                '@CelmediaSiteBundle/Resources/public/css/style.y.css'
                filter='cssrewrite'
            %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="all" />
            {% endstylesheets %}
        {% endblock %}
        
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    </head>
    <body id="page-top"  >
           {% render(controller('CelmediaSiteBundle:Mobile:restart')) %}

           <div class="seccion-trivia-mobile" id="seccion-trivia "   >

            {%  block content %}

            {%  endblock %}

        </div>

            
              {% block js %}
            
        {% endblock %}
            
    </body>
</html>